header {
    background-image: url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $VeryPaleCyan;

    .headerContent {
        margin: 0 auto;
        padding: 1.2rem .9rem 1rem .9rem;

        .headerNav {
            
            .headerInternal {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btnNav {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    font-family: $Poppins;
                    font-size: .6rem;
                    font-weight: 700;
                    color: black;
                    width: 5.40rem;
                    height: 1.30rem;
                    border-radius: 1.67rem;
                    background-color: $white;
                    box-shadow: 0 0 1px -5px rgba(0, 0, 0, .1);
                    cursor: pointer;

                    &:hover {
                        color: rgb(136, 136, 136);
                    }
                }

                .imgLogo {
                    width: 5.7rem;
                }
            }

            
        }

        .headerTexts {
            font-family: $OpenSans;
            text-align: center;
            padding: 4.65rem 1.1em .6rem 1.1rem;
            

            .internalHeaderTexts {

                h1 {
                    font-family: $Poppins;
                    font-size: 1.32rem;
                    font-weight: 700;
                    text-align: center;
                }

                p {
                    font-size: .89rem;
                    margin-top: 1.3rem;
                    line-height: 1.33rem;
                }

                button {
                    margin-top: 1.8rem;
                    font-family: $OpenSans;
                    font-weight: 600;
                    letter-spacing: .05rem;
                    cursor: pointer;
                    background-color: $Pink;
                    color: $white;
                    border: none;
                    padding: 11.2px 51.2px 11.2px 51.2px;
                    font-size: .6rem;
                    border-radius: 1.67rem;
                    

                    &:hover{
                        opacity: .6;
                    }

                }
            }

            .headerImg {
                margin-top: 2.9rem;
                

                img {
                    max-width: 100%;
                }
            }
        }
    }

}